@model VehicleBrand

<h1 class="display-5 text-center">Excluir Marca</h1>
<br />

<div>
    <h4>Você tem certeza que deseja excluir a marca "@Model.Name"?</h4>
    <hr />
    <form asp-controller="VehicleBrand" asp-action="ConfirmDelete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a role="button" class="btn btn-secondary" asp-controller="VehicleBrand" asp-action="Index">Cancelar</a>
    </form>
</div>